*{
    margin: 0;
    padding: 0;
}

.navbar
{
    background-color: rgba(255, 255, 255, 0.459) !important;
    
}

.logo
{
    position:relative;
    width: 20vw;
    height: 15vh;
    justify-content: left;
    align-items: left;
    background-color: transparent;
  
}
#imglogo
{
    height: auto;
    width: auto;
    max-height: 180px;
    max-width: 180px;
    margin-left: 30px;
    margin-top: 25px;
}
nav li a
{
    margin: 20px;
    font-family: garamond;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(7, 94, 97);
}

.backg{
    height: 40cm;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.322),rgba(0,0,0,0.322)), url(Imagenes/fondoservi.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 110px;
   
}

.box-serv{
    width: 90%;
    height: 90%;
    background-color: rgba(247, 120, 145, 0.349);
    padding: 30px;
}


